.photo {
  padding: 15px;
}

.photo-img {
  width: 100%;
}

.photo-button {
  font-size: 26px;
}

.btn-delete {
  position: absolute;
  top: 17px;
  right: 21px;
  color: red;
}

.btn-share {
  position: absolute;
  top: 17px;
  left: 21px;
}

.is-public {
  color: yellow;
}

.is-private {
  color: grey;
}

.drop-box {
  margin: 5px;
  padding: 15px;
  border: dotted 3px gray;
  border-radius: 7px;
}

.preview-box {
  max-height: 400px;
  margin: 7px;
}
